
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-picture:before { content: '\e801'; } /* '' */
.icon-volume-up:before { content: '\e802'; } /* '' */
.icon-mic-outline:before { content: '\e803'; } /* '' */
.icon-gift:before { content: '\e804'; } /* '' */
.icon-lightbulb:before { content: '\e805'; } /* '' */
.icon-gplus:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\f058'; } /* '' */
.icon-facebook-1:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-twitter-1:before { content: '\f302'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
.icon-dribbble:before { content: '\f31b'; } /* '' */
.icon-behance:before { content: '\f34e'; } /* '' */
.icon-search:before { content: '\f50d'; } /* '' */